body {
background-image: url('./components/images/stars.jpg');
background-repeat: no-repeat;
background-size: cover;
 
}

.badge-header {
    color: white;
}

.badge {
    box-shadow: 0 0 10px white;
    background-color: rgba(2, 15, 75, 0.493)!important;

}

.card-body {
    width: 50%;
    height: 90vh;
    margin-top: 15px;
    margin-bottom: 15px;
    position: absolute;
    box-shadow: 0 0 10px white!important;
    background-color: rgba(2, 15, 75, 0.493)!important;
    border-radius: 10px;
}

.title {
    color: white;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


h3.title {
    background-color: rgba(2, 15, 75, 0.493)!important;    
    width: 1141px;
    box-shadow: 0 0 10px white!important;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}

.btn1-card {
    box-shadow: 0 0 5px white!important;
    color: white;
    background-color:  rgba(2, 15, 75, 0.5);
    border-radius: 5px;
    border: none;
    width: 7%;
    margin: 5px;
}

.btn1-card:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.24);
}

